:root {
  --mainBlue: #faf3dd;
  --lightBlue: #009ffd;
  --mainWhite: #fefdfb;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainGreen: #4a7c59;
  --paleGreen: #c8d5b9;
}

body {
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
@media screen and (max-width: 600px) {
  .logo-container {
    display: flex;
    order: 1;
  }
  .link-container {
    display: flex;
    order: 2;
    justify-content: center;
    align-items: center;
  }
  .navbar-nav {
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .nav-item {
    flex-direction: row;
    margin: 0 2rem !important;
  }
  .button-container {
    position: absolute;
    margin-top: 0.6rem;
    right: 0;
    top: 0;
  }
  .cart-button {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 !important;
  }
  .hide-it {
    display: none !important;
  }

  .sm-fix {
    margin: 0 !important;
    padding: 0 !important;
  }
}

.nav-wrapper {
  display: flex;
  position: relative;
}

.link-container {
  display: flex;
  padding: 0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-title {
  margin: auto;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  font-family: 'Calistoga', cursive;
  display: flex;
  flex-direction: column;
  color: var(--mainGreen);
  font-size: 2.5rem;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.text-title {
  font-family: 'Calistoga', cursive;
}

.text-green {
  color: var(--mainGreen);
}

.text-bright {
  color: var(--paleGreen);
}

.btn-cart {
  font-weight: bold;
  background: var(--paleGreen);
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainGreen);
  border: none !important;
  border-radius: 0 !important;
}

.btn-cart:hover {
  color: var(--mainGreen);
  transform: none;
  transform: scale(1.01);
}
.cart-icon {
  cursor: pointer !important;
  font-size: 1.2rem;
  color: var(--mainGreen);
}
